/* Lista */


.input-lista:enabled,
.list-group-item:hover>input,
.list-group-item:hover>span,
.list-group-item:hover>span>input {
    color: black;
}


.siape {
    font-size: 13px;
    font-style: italic;
    margin-left: 20px;
    color: rgb(104, 104, 104);
    transition: 300ms;
    top: -5px;
}

.siape>input {
    width: 150px;
}